:root{
  --primary : #3498db;
  --secondary: #6da8e2;
  --text-primary: #868e96;
}

.fa-2x {
  font-size: 2em !important;
}

p.card-text {
  line-height: normal;
}

.main-sidebar .sidebar-menu .addin-social li a {
  position: unset !important;
  /*width: unset !important;*/
}

.addin-social a {
  width: 32px !important;
  height: 32px !important;
  padding: 3px 0 0 0 !important;
  display: inline-block !important;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  background-color: var(--primary);
  color: white !important;
}

.addin-social a svg {
  margin-left: 2px !important;
}

.addin-social a:hover {
  background-color: var(--secondary) !important;
  svg{
    color: white;
  }
}

textarea.form-control {
  height: auto !important;
}

.main-sidebar {
  overflow-y: auto;
}

.main-sidebar .sidebar-menu li a svg {
  width: 28px;
  margin-right: 20px;
  text-align: center;
}

.main-sidebar .sidebar-menu li a.nuxt-link-exact-active {
  color: var(--primary);
  font-weight: 600;
  background-color: #fcfcfd;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.main-sidebar::-webkit-scrollbar {
  width: 3px;
}

.main-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

.main-wrapper .section .section-header {
  background-color: var(--primary);
}

.btn-primary, .btn-primary.disabled {
  background-color: var(--primary);
  box-shadow: 0 2px 6px var(--secondary);
  border-color: transparent !important;
}

.btn-primary:active, .btn-primary:hover, .btn-primary.disabled:active, .btn-primary.disabled:hover {
  background-color: var(--secondary) !important;
}

a{
  color: var(--primary);
}

.card.card-primary{
  border-top: 2px solid var(--primary);
}

.profile-widget-item-value,
.profile-widget-item-value a
{
  color: var(--text-primary) !important;
}

.profile-widget .profile-widget-items .profile-widget-item .profile-widget-item-label{
  color: inherit !important;
}

a:hover{
  text-decoration: none;
  color: var(--primary) !important;
}

.bg-primary{
  background-color: var(--primary) !important;
}

.text-primary, .text-primary-all *, .text-primary-all *:before, .text-primary-all *:after{
  color: var(--primary) !important;
}
